.header-section {
  background-color: #000;
}

.header-content-img {
  margin: 0 4rem;
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
}

.header-content {
  background-color: #000;
  padding: 9.4rem 0;
}

.header-content-p1 {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
}

.header-content-p2 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding-top: 2.3rem;
  padding-bottom: 1rem;
}

.input-cls {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.location-cls {
  position: relative;
}

.location-cls input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 12.6rem;
  padding-left: 2rem;
  border-radius: 10px;
  border: none;
}

.dot-img {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.navigate-btn {
  cursor: pointer;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
}

.destination-cls {
  position: relative;
}

.destination-cls input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 12.6rem;
  padding-left: 2rem;
  border-radius: 10px;
  border: none;
}

.square-img {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.connecting-line {
  padding-bottom: 1rem;
  position: absolute;
  border-left: 1.2px #fff solid;
  height: 40px;
  top: 80%;
  left: 4.9rem;
}

.header-prices {
  padding-top: 1rem;
}

.header-prices button {
  font-size: 16px;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.header-prices button:hover {
  background: #e6e6e6;
}

.header-img img {
  width: 550px;
  height: 109vh;
}

@media only screen and (max-width: 480px) {
  .header-content-img {
    margin: 0 2rem;
    padding: 2rem 0;
    display: block;
  }
  .header-content {
    background-color: #000;
    padding: 0;
  }
  .header-content-p1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 64px;
    br {
      display: none;
    }
  }
  .header-content-p2 {
    font-size: 16px;
    font-weight: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .location-cls input {
    padding-right: 14rem;
  }
  .navigate-btn {
    right: 20px;
  }
  .destination-cls input {
    padding-right: 14rem;
  }
  .connecting-line {
    padding-bottom: 1rem;
    position: absolute;
    border-left: 1.2px #fff solid;
    height: 40px;
    top: 36%;
    left: 3rem;
  }
  .header-img img {
    width: 418px;
    height: 540px;
    padding-top: 2rem;
  }
}
